body {
  font-family: sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.controls, .results {
  flex: 1;
  padding: 10px;
}

form p:nth-of-type(1) {
  margin-top: 0;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 5px;
  font-size: 20px;
}

h3 {
  margin-top: -2px;
}

article p {
  font-size: 14px;
  line-height: 1.4;
  margin: 1rem;
}

article p.keywords {
  line-height: 2;
}

nav {
  margin-bottom: 50px;
}

.prev {
  float: left;
}

.next {
  float: right;
}

article {
  padding: 5px;
  margin-bottom: 20px;
  background-color: #bfa34c;
  border: 1px solid #ccc;
  border-radius: 10px;
}

img {
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 15px;
  margin-top: -5px;
}

span {
  background-color: #ccc;
  padding: 5px;
  margin: 5px;
}

.ability-tooltip {
  clear: both;
  margin-top: 20px;
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.6;
}

.ability-tooltip p {
  margin: 5px 0;
}

.ability-icon {
  float: left;
  width: 64px;
  height: 64px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 3px;
}